n8n_template/n8n_template.json
{
  "name": "My workflow 12",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "circleback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        -140
      ],
      "id": "11906c6d-1714-4c7f-be00-8b7ebcf50119",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=YOUR_SUPABASE_URL/rest/v1/transcripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "organization",
              "value": "={{ $('Code').item.json.organization }}"
            },
            {
              "name": "transcripts",
              "value": "={{ $('Code').item.json.transcripts }}"
            },
            {
              "name": "id",
              "value": "={{ $('Code').item.json.id }}"
            },
            {
              "name": "POC",
              "value": "={{ $('Code').item.json.POC }}"
            },
            {
              "name": "company",
              "value": "={{ $('Code').item.json.company }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -140
      ],
      "id": "de8f7154-41ff-4b40-9f59-903009826ecc",
      "name": "Upload to Supabase"
    },
    {
      "parameters": {
        "jsCode": "// Get the Circleback payload\nconst payload = $('Webhook').first().json.body;\nconst segments = payload.transcript || [];\n\n// 1) Stringify the transcript segments\nconst transcriptsStr = JSON.stringify(\n  segments.map(s => ({\n    speaker: s.speaker,\n    text: s.text,\n    timestamp: s.timestamp,\n  }))\n);\n\n// 2) Find team member (POC)\nconst teamAttendee = (payload.attendees || []).find(a =>\n  a.email && a.email.endsWith('YOUR_EMAIL_DOMAIN')\n);\nconst POC = teamAttendee?.name || '';\n\n// 3) Filter out bots and internal attendees\nconst isValidGuest = (email) => {\n  return (\n    email &&\n    !email.endsWith('YOUR_EMAIL_DOMAIN') &&\n    !email.endsWith('@circleback.ai') &&\n    !email.match(/@.*\\.calendar\\.google\\.com$/)\n  );\n};\n\n// 4) Find the first valid guest\nconst guest = (payload.attendees || []).find(a => isValidGuest(a.email));\n\n// 5) Extract company domain\nconst company = guest?.email?.split('@')[1] || 'unknown';\n\n// 6) Emit result for Supabase\nreturn [{\n  json: {\n    organization: '',\n    company,\n    transcripts: transcriptsStr,\n    id: payload.id,\n    POC,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -140
      ],
      "id": "56309dfe-32d4-40e6-a4d0-e03616dcd6ab",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Upload to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "e000c1d03f5e051464163d65d4571c0de0e6138f295d892ba2fc4d168113836e"
  },
  "tags": []
}